<footer class="footer">
    <div class="container">
      <!-- Logo et Slogan -->
      <div class="footer-logo-slogan">
        <img src="../../assets/images/mliha.jpg" alt="Logo de MLIHA" class="footer-logo">
        <p class="footer-slogan">...إنتي أختار و نحنا نوصلولك للدار</p>
      </div>
  
      <!-- Section d'Informations Légales et de Contact -->
      <div class="footer-section">
        <h4>Contactez-nous</h4>
        <p>Adresse : 123 Rue de la Volaille, Ain Zaghouan, Tunis</p>
        <p>Téléphone : +216 23 456 789</p>
        <p>Email : contact@Mliha.com</p>
        <p>Heures d'ouverture : Lundi - Vendredi, 9h00 - 18h00</p>
        <a>Mentions légales</a> |
        <a >Politique de confidentialité</a>
      </div>
  
      <!-- Navigation Rapide -->
      <div class="footer-section">
        <h4>Navigation</h4>
        <ul>
          <li><a routerLink="/">Accueil</a></li>
          <li><a >Produits</a></li>
          <li><a >Actualite</a></li>
          <li><a >Blog</a></li>
          <li><a >À propos</a></li>
          <li><a >Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>
  