<div class="forget-password-container">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched">
          <small *ngIf="forgetPasswordForm.get('email')?.errors">Email is required.</small>
          <small *ngIf="forgetPasswordForm.get('email')?.errors">Invalid email format.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="forgetPasswordForm.invalid || loading">Send Recovery Email</button>
  
      <div *ngIf="message" [ngClass]="messageType">
        {{ message }}
      </div>
  
      <div *ngIf="loading">
        Loading...
      </div>
    </form>
  </div>