<div class="reset-password-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="motPasse">New Password:</label>
        <input id="motPasse" formControlName="motPasse" type="password" />
        <div *ngIf="resetPasswordForm.get('motPasse')?.invalid && resetPasswordForm.get('motPasse')?.touched">
          <small *ngIf="resetPasswordForm.get('motPasse')?.errors">Password is required.</small>
          <small *ngIf="resetPasswordForm.get('motPasse')?.errors">
            Password must be at least 6 characters long.
          </small>
        </div>
      </div>
  
      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" />
        <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
          <small *ngIf="resetPasswordForm.get('confirmPassword')?.errors">Confirmation password is required.</small>
          <small *ngIf="resetPasswordForm.hasError('mismatch')">Passwords do not match.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="resetPasswordForm.invalid || loading">Reset Password</button>
  
      <div *ngIf="loading">
        Loading...
      </div>
    </form>
  </div>