
<div class="container">
    <br><br>
    
        <form class="navbar-form navbar-center">
            <div class="container">
    
                    <br>
                <div class="row align-items-center">
                    
                    <div class="col-auto">
                        <h3>Reclamation List</h3>
                    </div>
                    <div class="col-auto"><br>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <div class="col-auto"><br>
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </div>
            </div>    <br>
        </form>
        
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Priority</th>
                <th>Date</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable-row" *ngFor="let listReclamation of listReclamations" (click)="onRowClick(listReclamation._id, listReclamation.title)">
                <td><a [routerLink]="['/edit', listReclamation._id]">{{listReclamation.title}}</a></td>
                <td>{{listReclamation.priorite}}</td>
                <td>{{listReclamation.dateReclamation}}</td>
                <td> {{listReclamation.statut_rec}} </td>
                <td>
                    <!--
                    -->
                    <button class="btn btn-sm btn-danger mx-1" (click)="deleteApartment(listReclamation._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <ul *ngIf="listReclamations.length; else noReclamation">
    
    </ul>
    
    
    <ng-template #noReclamation>
        <p>No noReclamation available.</p>
    </ng-template>
    
    </div>