<div class="container my-4">
    <div class="row">
        <div class="col-md-12 mb-4">
            <img src="../../assets/images/updatemliha.jpg" alt="Image de Produits" class="img-fluid mb-4">
        </div>
        <div class="col-md-12">
            <h2 class="text-center mb-4">Catégories de Produits</h2>
            <div class="row">
                <!-- Boucle sur les catégories -->
                <div class="col-md-4 mb-4" *ngFor="let cat of categories">
                    <div class="card category-card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{cat.nomCategorie}}</h5>
                            <p class="card-text">{{cat.descriptionCategorie}}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a [routerLink]="['/home/', cat._id + '-' + cat.nomCategorie.trim()]" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
                <!-- Fin de la boucle sur les catégories -->
            </div>
        </div>
    </div>
</div>
