<div class="alert alert-success" role="alert" *ngIf="alert == 1">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="10" height="10">
    <path
      d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
  </svg>
  {{ message }}
</div>
<div class="alert alert-danger" role="alert" *ngIf="alert == 2">
  {{ message }}
</div>
<div class="container">
    <h1>Gestion des Catégories de Produits</h1>
    <div>
        <button
      class="ml-4"
      mat-flat-button
      color="primary" (click)="showCategorie()"
      >
      <mat-icon>add</mat-icon>
      <span class="ml-2 mr-1">Ajouter</span>
    </button>
    <app-add-categorie *ngIf="toggle" (categorie)="addCategorie($event)" ></app-add-categorie>
    <h2>Liste des Catégories</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <!-- Name Column -->
  <ng-container matColumnDef="Categorie">
    <th mat-header-cell *matHeaderCellDef> Categorie </th>
    <td mat-cell *matCellDef="let category"> {{category.nomCategorie}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let category"> {{category.descriptionCategorie}} </td>
  </ng-container>

  <!-- Update Column -->
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let category"> <a [routerLink]="['/management-categorie/update',category._id]" ><mat-icon>update</mat-icon> </a> </td>
  </ng-container>

  <!-- Details Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let category"> <a [routerLink]="['/management-categorie', category._id + '-'+ category.nomCategorie.trim()]">Liste produits</a> </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let category">
      <button mat-icon-button color="warn" (click)="deleteCategorie(category._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>


